{% extends 'base.html'%}

{% block content%}
<h1 class="text-center">Toma de horas Servicio Académico</h1>
<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        {% if user.profile.horatomada  == None %}
          <h5 class="card-tittle"><a href="/servicioAcademico/TomaA/" class="link"> Numero en F </a>: {{numeros.F}}</h5>
        {% else %}
          <h5 class="card-tittle">Numero en F: {{numeros.F}}</h5>
        {%endif%}
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        {% if user.profile.horatomada  == None %}
          <h5 class="card-tittle"><a href="/servicioAcademico/TomaA/" class="link"> Numero en A </a>: {{numeros.A}}</h5>
        {% else %}
          <h5 class="card-tittle">Numero en A: {{numeros.A}}</h5>
        {%endif%}
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        {% if user.profile.horatomada  == None %}
          <h5 class="card-tittle"><a href="/servicioAcademico/TomaA/" class="link"> Numero en T </a>: {{numeros.T}}</h5>
        {% else %}
          <h5 class="card-tittle">Numero en T: {{numeros.T}}</h5>
        {%endif%}
      </div>
    </div>
  </div>
  {% if user.profile.horatomada  != None %}
  <p class="text-center">Aún tiene un numero tomado</p>
  {%endif%}
  <p class="text-center">Horario de atención</p>
  <p class="text-center">9:00 a 20:00 Horas</p>
</div>
</br>
{% endblock %}
