{% extends 'base.html'%}

{% block content%}
<h1 class="text-center">Horas Tomadas</h1>
<div class="container">
  <div class="row mt-5 justify-content-center">
    {% for reserva in reservas %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-tittle">Numero de reserva: {{reserva.id}}</h5>
        <p class="card-text"> {{reserva.dia}} </p>
        <a href="/sala/{{reserva.id}}/" class="card-link">Ver Detalles</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="text-right">
  <a class="btn btn-danger btn-lg" href="/sala/TomarHora" role="buton">Tomar Hora</a>
</div>
</br>
{% endblock %}
