{% extends 'base.html'%}

{% block content%}
<h1 class="text-center">Lista de talleres</h1>
<div class="container">
  <div class="row mt-5 justify-content-center">
    {% for taller in talleres %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        {% if taller.icono %}
          <h5 class="card-tittle">{{taller.nombre}} <img src="{{taller.icono.url}}" height="50"/></h5>
        {% endif %}
        <p class="card-text"> {{taller.dia}} Hora inicio: {{taller.hora}}</p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
</br>
</br>
{% endblock %}
